<script src="https://accounts.google.com/gsi/client" async></script>
<section class="register">
  <div class="auth">
    <div class="auth__logo">
      <img src="assets/img/logo-mini.svg" alt="">
    </div>
    <div class="auth__text">
      Зареєструватися
    </div>
    <div class="auth__form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div  class="auth__input">
          <app-text-input
            [formControl]="$any(registerForm.controls['email'])"
            [placeholder]="'Імейл'"
            [errorMap]="loginValidationErrors"
          ></app-text-input>
        </div>
        <div class="auth__input">
          <app-text-input
            [formControl]="$any(registerForm.controls['password'])"
            [type]="'password'"
            [placeholder]="'Пароль'"
            [errorMap]="passwordValidationErrors"
          ></app-text-input>
        </div>
        <div class="auth__input">
          <app-text-input
            [formControl]="$any(registerForm.controls['confirmPassword'])"
            [type]="'password'"
            [placeholder]="'Підтвердіть пароль'"
            [errorMap]="confirmPasswordValidationErrors"
          ></app-text-input>
        </div>
        <button
          [disabled]="registerForm.invalid"
          [class.button-disabled]="registerForm.invalid"
          type="submit" class="button button-gradient auth__btn-submit">Зареєструватися</button>
      </form>
    </div>
    <div class="auth__subtext">Або увійдіть через</div>
    <div class="auth__items">
      <asl-google-signin-button
        type="standard"
        shape="pill"
        theme="filled_black"
        text="signin_with"
        size="large"
        locale="uk"
        logo_alignment="left"
        width="290"
      ></asl-google-signin-button>
      <div class="auth__item" (click)="loginWithFacebook()">
        <div class="auth__item-logo">
          <img src="assets/icons/icon_Facebook.svg" alt="">
        </div>
        <div class="auth__item-text">
          Увійти через Facebook
        </div>
      </div>
    </div>
    <div class="auth__also">
      Вже маєте аккаунт?
      <span (click)="openLoginModal()">Увійти</span>
    </div>
  </div>
</section>



