<div class="modal-header">
  <h4 class="modal-title pull-left">Основна інформація</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="basicInfoModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modal__basic">
    <form (ngSubmit)="submitBasicInfoModal()" [formGroup]="formGroup" autocomplete="off" class="modal__basic-form">
      <div>
        <label class="label label__basic">Ім'я</label>
        <app-text-input
          [formControl]="$any(formGroup.controls['firstName'])"
          [placeholder]="'Ім\'я'"
          [errorMap]="BasicInfoValidationMessages.firstName"
          [classList]="'input input__basic'"></app-text-input>
      </div>
      <div>
        <label class="label label__basic">Фамілія</label>
        <app-text-input
          [formControl]="$any(formGroup.controls['lastName'])"
          [placeholder]="'Фамілія'"
          [errorMap]="BasicInfoValidationMessages.lastName"
          [classList]="'input input__basic'"></app-text-input>
      </div>
      <div>
        <label class="label label__basic">Національність</label>
        <app-text-input
          [formControl]="$any(formGroup.controls['nationality'])"
          [placeholder]="'Національність'"
          [errorMap]="BasicInfoValidationMessages.nationality"
          [classList]="'input input__basic'"></app-text-input>
      </div>
      <div>
        <label class="label label__basic">Вік</label>
        <app-text-input
          [formControl]="$any(formGroup.controls['age'])"
          [placeholder]="'Вік'"
          [errorMap]="BasicInfoValidationMessages.age"
          [type]="'number'"
          [classList]="'input input__basic'"></app-text-input>
      </div>
      <div>
        <label class="label label__basic">Стать:</label>
        <select class="input input__basic" formControlName="gender" name="gender">
          <option [ngValue]="'Чоловік'">Чоловік</option>
          <option [ngValue]="'Жінка'">Жінка</option>
        </select>
      </div>
      <button [class.button-disabled]="formGroup.invalid || !formGroup.touched"
              [disabled]="formGroup.invalid || !formGroup.touched"
              type="submit" class="button button-gradient modal__basic-submit">
        Зберегти інформацію
      </button>
    </form>
  </div>
</div>
