<div class="container__wrapper">
  <section class="nav">
    <div class="nav__wrapper">
        <router-outlet></router-outlet>
    </div>
    <div class="nav__footer">
      <div routerLink="/core/recommendation" routerLinkActive="nav__item-active" class="nav__item">
        <div class="fa fa-users nav__item-icon"></div>
        <div class="nav__item-text">Знайомства</div>
      </div>
      <div routerLink="/core/like-list" routerLinkActive="nav__item-active"  class="nav__item">
        <div class="fa fa-heart nav__item-icon"></div>
        <div class="nav__item-text">Лайки</div>
      </div>
      <div routerLink="/core/profile" routerLinkActive="nav__item-active"  class="nav__item">
        <div class="fa fa-user nav__item-icon"></div>
        <div class="nav__item-text">Профіль</div>
      </div>
    </div>
  </section>
</div>
