<section class="profile-edit" *ngIf="profile">
  <div class="profile-edit__header">
    <div (click)="bsModalRef.hide()" class="profile-edit__header-return profile-edit__arrow">
      <img src="assets/icons/profile/Arrow-left.png" alt="">
    </div>
    <div class="profile-edit__header-show">
      Перегляд
    </div>
  </div>
  <div class="profile-edit__wrapper">
      <div class="profile-edit__item">
        <div class="profile-edit__pictures" cdkDropListGroup>
          <ng-container *ngFor="let picture of profile.pictures; let i = index">
            <div class="profile-edit__picture-drag"
                 cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="changePicturePosition($event)"
                 [cdkDropListData]="{item:picture,index:i}">
              <div class="profile-edit__picture profile-edit__picture-alive" cdkDrag>
                <div class="profile-edit__picture-placeholder" *cdkDragPlaceholder></div>
                <img class="profile-edit__picture-user" src="{{picture.pictureUrl}}" alt="" >
                <div (click)="removePicture(picture.id)" class="profile-edit__picture-cross">
                  <img src="assets/icons/profile/Cross.svg" alt="">
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="profile.pictures.length < 6">
            <div class="profile-edit__picture" *ngFor="let i of getRemainingPhotosCount">
              <div class="profile-edit__picture-plus" (click)="fileInput.click()">
                <img src="assets/icons/profile/Plus.svg" alt="">
                <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div (click)="openBasicInfoModal()" class="profile-edit__item profile-edit__item-basic">
        <div>
          <div class="profile-edit__font profile-edit__font-fz22">
            {{profile.firstName}} {{profile.lastName}}, {{profile.age}}
          </div>
          <div class="profile-edit__font profile-edit__font-fz18">
            {{profile.gender}}
          </div>
        </div>
        <div class="profile-edit__arrow">
          <img src="assets/icons/profile/Arrow-right.svg" alt="">
        </div>
      </div>
      <div class="profile-edit__item profile-edit__item-textarea">
        <div class="profile-edit__font profile-edit__font-fz22">
          Про себе
        </div>
        <div class="profile-edit__textarea">
          <app-resize-textarea (buttonClick)="onBioSubmit()" [(text)]="profile.bio"></app-resize-textarea>
        </div>
      </div>
    <div class="profile-edit__item profile-edit__item-info">
      <div class="profile-edit__font profile-edit__font-fz22">Інформація про тебе</div>
      <div class="profile-edit__item-list">
        <div (click)="openInfoModal(info.titleId)" class="profile-edit__info" *ngFor="let info of infos">
          <div class="profile-edit__font profile-edit__font-fz22">{{info.title}}</div>
          <div class="profile-edit__info-right">
            <ng-container *ngIf="getInfoAnswerByTitleId(info.titleId)">
              <div class="profile-edit__info-answer">
                {{getInfoAnswerByTitleId(info.titleId)}}
              </div>
            </ng-container>
            <div class="profile-edit__arrow">
              <img src="assets/icons/profile/Arrow-right.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div (click)="openSearchSchoolModal()" class="profile-edit__item">
      <div>
        <div class="profile-edit__font profile-edit__font-fz22">Освіта</div>
        <div class="profile-edit__font profile-edit__font-fz18">{{profile.degree.schoolName}}</div>
      </div>
      <div>
        <div class="profile-edit__arrow">
          <img src="assets/icons/profile/Arrow-right.svg" alt="">
        </div>
      </div>
    </div>
    <div class="profile-edit__item profile-edit__item-textarea">
      <div class="profile-edit__font profile-edit__font-fz22">
        Професія
      </div>
      <div class="profile-edit__textarea">
        <app-resize-textarea (buttonClick)="onOccupationSubmit()" [maxLength]="45" [(text)]="profile.occupation"></app-resize-textarea>
      </div>
    </div>

    </div>
</section>
