.main{
  position: relative;
  background: url("../assets/img/background/main-page-bg.jpg") center (center/cover) no-repeat;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  &__btn{
    &-login{
      width: 125px;
      height: 40px;
    }
    &-register{
      width: 280px;
      height: 60px;
    }
  }
  &__header{
    height: 110px;
    position: relative;
    padding: 22px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    &-blur{
      position: absolute; /* Змінюємо позицію на absolute */
      top: -20px;
      left: -20px;
      width: 120%;
      height: 130px;
      filter: blur(8.9px);
      background: linear-gradient(rgba(1, 0, 0, 0.9) 77%, rgba(0, 0, 0, 0.2) 100%);
      z-index: 0;
    }
  }
  &__register{
    width: 100%;
    position: absolute;
    bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text{
    font-size: 115px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin-bottom: 18px;
  }
}

.modal_auth{
  background-color: #111418;
  width: 440px;
  .modal-content{
    background-color: #111418;
    border: none;
    border-radius: 0;
  }
}

.auth{
  padding: 40px 40px 15px 40px;
  color: #ffffff;
  &__logo{
    width: fit-content;
    margin: 0 auto 15px auto;
    img{
      width: 60px;
      height: 60px;
    }
  }
  &__text{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 31px;
  }
  &__input{
    margin-bottom: 18px;
    input{
      display: block;
      padding: 11px 20px 11px 46px;
      border-radius: 30px;
      width: 360px;
      height: 50px;
      background-color: #21262e;
      font-size: 24px;
      color: #fff;
      border: none;
    }
    .is-invalid{

      border: 2px darkred solid;
    }
    .invalid-feedback{
      margin-left: 15px;
    }
  }
  &__btn{
    &-disabled{
      background: gray;
    }
    &-submit{
      margin: 26px auto 35px auto;
      width: 280px;
      height: 60px;
    }
  }
  &__subtext{
    position: relative;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 13px;
    &:before, &:after{
      top: 50%;
      transform: translateY(-50%);
      content: '';
      position: absolute;
      width: 94px;
      height: 1px;
      background-color: #ffffff;
    }
    &:before{
      left: -12px;
    }
    &:after{
      right: -12px;
    }
  }
  &__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 18px;
  }
  &__item{
    position: relative;
    background-color: rgb(32, 33, 36);
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 290px;
    height: 40px;
    padding: 0 12px;
    transition: 0.6s;
    &:last-child{
      margin-bottom: 0;
    }
    &-logo{
      width: fit-content;
      position: absolute;
      left: 1px;
      img{
        height: 36px;
        width: 36px;
      }
    }
    &-text{
      margin-left: 35px;
      font-size: 12px;
      font-weight: 600;
    }
    &:hover{
      cursor: pointer;
      background: rgba(255, 255, 255, .24);
    }
  }
  &__also{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    span{
      font-weight: 800;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
