<script src="https://accounts.google.com/gsi/client" async></script>
<section class="login">
  <div class="login__logo">
    <img src="assets/img/logo-mini.svg" alt="">
  </div>
  <div class="login__text">
    Увійдіть
  </div>
  <div class="login__form">
    <form>
      <input placeholder="Логін" type="text" class="login__input">
      <input placeholder="Пароль" type="password" class="login__input">
      <button type="submit" class="button button-gradient login__btn-submit">Увійти</button>
    </form>
  </div>
  <div class="login__subtext">Або увійдіть через</div>
  <div class="login__items">
    <asl-google-signin-button
      type="standard"
      shape="pill"
      theme="filled_black"
      text="signin_with"
      size="large"
      locale="uk"
      logo_alignment="left"
      width="290"
    ></asl-google-signin-button>
  </div>
  <div class="login__register">
    Ще немає аккаунту?
    <span>Зареєеструватися</span>
  </div>
</section>


