<section class="login">
  <div class="login__logo">
    <img src="assets/img/logo-mini.svg" alt="">
  </div>
  <div class="login__text">
    Увійдіть
  </div>
  <div class="login__form">
    <form>
      <input placeholder="Логін" type="text" class="login__input">
      <input placeholder="Пароль" type="password" class="login__input">
      <button type="submit" class="button button-gradient login__btn-submit">Увійти</button>
    </form>
  </div>
  <div class="login__subtext">Або увійдіть через</div>
  <div class="login__items">
    <div class="login__item">
      <div class="login__item-logo">
        <img src="assets/icons/icon_google.svg" alt="">
      </div>
      <div class="login__item-text">
        Увійти через Google
      </div>
    </div>
    <div class="login__item">
      <div class="login__item-logo">
        <img src="assets/icons/icon_google.svg" alt="">
      </div>
      <div class="login__item-text">
        Увійти через Google
      </div>
    </div>
  </div>
  <div class="login__register">
    Ще немає аккаунту?
    <span>Зареєеструватися</span>
  </div>
</section>
