<section class="recommendation">
  <div class="recommendation__header">
    <div class="recommendation__title">
      {{title}}
    </div>
    <div (click)="openPreferenceModal()" class="recommendation__preference">
      <img src="./assets/icons/recommendationPage/preference_icon.svg" alt="">
    </div>
  </div>
  <div class="recommendation__wrapper">
    <ng-container *ngIf="geolocation && profile && isRequestSuccess">
      <app-user-card
        [geolocation]="geolocation"
        [profile]="profile"
        (onLike)="like($event)"
        (onDislike)="dislike($event)"></app-user-card>
    </ng-container>
    <div class="recommendation__load" *ngIf="showLoadPage && geolocation">
      <div class="recommendation__load-pulse">
        <div class="recommendation__load-circle"></div>
      </div>
      <ng-container *ngIf="!isRequestSuccess;else loadElse">
        <div class="recommendation__load-text">
          Для вашого запиту не вдалось знайти користувачів, оновіть фільтр
        </div>
      </ng-container>
      <ng-template #loadElse>
        <div class="recommendation__load-text">
          Пошук користувачів
        </div>
      </ng-template>
    </div>
      <div class="recommendation__geolocation" *ngIf="!geolocation">
        Для того, щоб отримати список користувачів потірбно надати доступ до своєї геолокації
      </div>
  </div>
</section>
